footer {
    border: 1px solid black;
    width: 100%;
    background-image: linear-gradient(170deg, #34d399, #059669);
    padding: 4em 2em 4em 2em;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}


.page-footer-content {
   display: flex;

}

.footer-list {
    list-style-type: none;
    padding: 0;
}

.footer-list li {
    margin-bottom: 0.2em;
    padding-top:0.8em;
}

.footer-list li a {
    color: white;
    text-decoration: none;
}

.page-footer-content > li {
    list-style: none;
    padding: 0em 5em 0em 5em;
}