<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer">
    <div class="footer-container">
        <ul class="page-footer-content">
            <li class="about-us-container">
                <div class="heading list-title">
                    Полезни линкове
                </div>
                <ul class="footer-list">
                    <li><a href="/faq">Често задавани въпроси</a></li>
                    <li><a href="/forum">Форум</a></li>
                    <li><a href="/university/developersguide">Наръчник на програмиста</a></li>
                </ul>
            </li>
            <li class="about-us-container">
                <div class="heading list-title">
                    Полезни линкове
                </div>
                <ul class="footer-list">
                    <li><a href="#">Често задавани въпроси</a></li>
                    <li><a href="#">Форум</a></li>
                    <li><a href="#">Наръчник на програмиста</a></li>
                </ul>
            </li>
            <li class="about-us-container">
                <div class="heading list-title">
                    Често задавани въпроси
                </div>
                <ul class="footer-list">
                    <li><a href="#">За нас</a></li>
                    <li><a href="#">Как да помогна</a></li>
                    <li><a href="#">Кои сме ние</a></li>
                    <li><a href="#">Нашите цели</a></li>
                </ul>
            </li>
        </ul>

        <div class="location">
            <img src="images/Annotation 2024-04-23 122400.png" alt="location">
        </div>
    </div>
    </div>
</footer>
</body>
</html>