<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>

<!-- Header -->
<header>
    <div th:replace="~{fragments/before-header}">
    </div>
    <h1><a th:href="@{/index}">You are not forgotten</a></h1>
    <nav th:replace="~{fragments/navigation}">
    </nav>
</header>

<section class="people-cards">
    <div class="profile-card">
        <div class="people-image-container">
            <img th:src="@{/images/komardjiq.png}" alt="Profile Picture" width="400" height="400">
        </div>

        <div class="profile-details">
            <h2>John Doe</h2>
            <p>Age: 30</p>
            <p>Location: New York</p>
            <p>Needs: Food, Clothing, Shelter</p>
        </div>
    </div>
    </div>
    <div class="profile-card">
        <div class="people-image-container">
            <img th:src="@{/images/images2.png}" alt="Profile Picture" width="400" height="400">
        </div>
        <div class="profile-details">
            <h2>Jane Smith</h2>
            <p>Age: 25</p>
            <p>Narkesh</p>
            <p>Needs: Belo i krushka</p>
        </div>
    </div>
    <div class="profile-card">
        <div class="people-image-container">
            <img th:src="@{/images/narkomanka.png}" alt="Profile Picture" width="400" height="400">
        </div>

        <div class="profile-details">
            <h2>John Doe</h2>
            <p>Age: 30</p>
            <p>Location: New York</p>
            <p>Needs: Food, Clothing, Shelter</p>
        </div>
    </div>
    <div class="profile-card">
        <div class="people-image-container">
            <img th:src="@{images/izklqsqh.png}" alt="Profile Picture" width="400" height="400">
        </div>
        <div class="profile-details">
            <h2>Jane Smith</h2>
            <p>Age: 25</p>
            <p>Narkesh</p>
            <p>Needs: Belo i krushka</p>
        </div>
    </div>
</section>
<footer th:replace="~{fragments/footer}">

</footer>
</body>
</html>